md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-content {
  margin: 4px 12px;
}

md-item {
  display: block;
  margin-bottom: 16px;
}

md-item * {
  display: inline-block;
  vertical-align: middle;
}

md-item img {
  width: 24px;
}

md-item span {
  margin-left: 12px;
  font-size: 18px;
}
