md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

table {
  margin: 8px 12px;
}

/*md-item {
  display: block;
  margin-bottom: 16px;
}*/

tr {
  margin-bottom: 16px;
}

td img {
  width: 24px;
}

td div {
  margin-left: 12px;
  font-size: 18px;
}
