md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-item {
  display: block;
  margin-bottom: 20px;
}

md-item * {
  display: inline-block;
  vertical-align: middle;
}

md-item img {
  width: 32px;
}

md-item span {
  margin-left: 12px;
  font-size: 24px;
}
