/*
    NOSE.JS 1337 HAKER RANK REIGNING CHAMPS 2015-2016
*/


body {
/*  overflow-x: hidden;*/
  font-family: roboto;
}

.popup_wrapper{
    background: #cccdcc;
    width: 360px;
    padding: 10px;
}

.title1{
    font-size: 24px;
    
}

.term_wrapper{
    
}

.term_icon{
    vertical-align: middle;
}

.term_title{
    font-size: 18px;
    color: #111;
}

.term_text{
    font-size: 12px;
    color: #444;
}