doctype html
html(lang='en', ng-app='HackDFW')
  head
    title= title
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(layout='column', ng-controller='AppCtrl')
    md-toolbar(layout='row')
      h1= title
    div(layout='row', flex)
      div(layout='column', flex, id='content')
        table
          each keyword in objects
            tr
              td
                img(src='http://puu.sh/ghOyD/63c94e57ea.png')
              td
                div= keyword
            tr
            tr
            tr
        //md-content(layout='column', flex, class='md-padding')
        //  md-list
        //    each keyword in objects
        //      md-item
        //        img(src='http://puu.sh/ghOyD/63c94e57ea.png')
        //        span= keyword

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js')

    script(src='//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js')
    script(src='/javascripts/script.js')
